# Same variable names as Joint-Teapot's .env, so that file can be copied as is.
CANVAS_ACCESS_TOKEN=
CANVAS_COURSE_ID=
# CANVAS_DOMAIN_NAME=oc.sjtu.edu.cn
GITEA_ACCESS_TOKEN=
GITEA_ORG_NAME=engr151
# GITEA_DOMAIN_NAME=focs.gc.sjtu.edu.cn
# GIT_HOST=ssh://git@focs.gc.sjtu.edu.cn:2222
# REPOS_DIR=./repos
MATTERMOST_ACCESS_TOKEN=
MATTERMOST_TEAM=
# MATTERMOST_DOMAIN_NAME=focs.gc.sjtu.edu.cn
